.saku{background:pink;
  font-size: 10px;
  border:1px solid:#1234;
  color:white;
  padding: 8px;
  text-decoration: none;
  border-radius: 8px;}

a:hover{background: blue;
        transition: 1s}

.sakurai {width: 600px;
          height: 400px;
          margin: auto;}

img{float: left;
    margin-right: 10px;}

h1 {float: left;
    font-size: 20px;
    width: 320px;
    margin-bottom: 5px;}

p{  float:left;
    font-size: 10px;
    margin-bottom: 5px;
    }

*{margin: 0;
 padding: 0;}

.saku{background: blue;}

nav{overflow: hidden;
    background: #ff4c4c;
    margin-bottom: 30px;}

nav li{float: left;
}

nav a{color: #fff;
    padding: 8px;
    display: block;
    }

main{width: 600px;
    overflow: hidden;}